/* inicia el estilo para el encabezado*/
@font-face {
	font-family: Montserrat;
	src: url(Montserrat.ttf);
}
body{
	margin: 0;
	background-color: #ffffff;
}
#planmarketing{
	margin-left: 20px;
}

#logotipo{
	text-align: left;
}
#logo{
	position: relative;
	/*width: 98%;*/
	padding-top: 1%;
	height: 3em;
}

#encabezado{
	background-color: rgb(255, 255, 255);
	position: sticky;
	top: 0px;
	margin: 0%;
	width: 100%;
	text-align: center;
}
#tituloprincipal{
	/* margin: 0%; */
	color: #872362;
	/* font-weight: 550; */
	font-size: 2.5rem;
	/* line-height: 1.1; */
	margin-top: 0.7em;
	margin-bottom: 0.1em;
	margin-left: 14%;
	margin-right: 4.8em;
	font-family: Montserrat;
}
#menu{
	/*background-color: #40bff2;*/
	margin-top: 0%;
	margin-left: 0%;
	font-family: sans-serif;
	margin-bottom: 0%;
	/*height: 6.5em;*/
}
.menus{
	display: inline-block;
	font-size: 1.1em;
	text-align: center;
	width: 18%;
	vertical-align: top;
	padding: 1em;
}
.logo{
	display: inline-block;
	font-size: 1.3em;
	text-align: left;
	width: 7.5%;
}
.enlacemenu{
	color: #000000;
	text-decoration: none;
}
#miperfil{
	color: white;
}
#miperfilfondo{
	background-color: #872362
	;
}
a:hover {
	color: #630ba3;
	cursor: pointer;
  }

h1{
	color: #000000;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: rgb(146, 26, 201);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #4720b7;
}

.iconorecurso{
	width: 3.6em;
	margin-top: 0.2em;
	margin-left: 0.6em;
}
.iconorecursocelda{
	background-color: #ebebec;
	border-radius: 0.7em 0px 0px 0.7em;
}

#tablarecursos{
	margin-left: 14%;
	margin-bottom: 2em;
	/*margin-top: 2em;*/
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/*width: 45%;*/
	margin-right: 9em;
}

.iconosrec{
	text-align: center;
	background-color: #ebebec;
}

#filatitulo{
	/*background-color: #b77add;*/
	padding-bottom: 0%;
	text-align: left;
}
#filainstrucciones{
	background-color: #79b3ce;
	padding-top: 0%;
}
.temario{
	background-color: #ebebec;
    border-radius: 0px 0.7em 0.7em 0px;
	width: 4em;
}
h2{
	color: #0D1566;
	/*text-indent: 8em;*/
	font-size: 130%;
	margin-top: 0.5em;
	/*font-family: Acumin;*/
	margin-bottom: 0.3em
}
h4{
	color: #360cb5;
	text-indent: 1.7em;
}

.tituloscursos{
	width: 46em;

}

.titulostemario{
	text-decoration:none; 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.25em;
	width: 60%;
	color: #000000;
}

.fondotemario{
	background-color: #ebebec;
	border: inset 0pt;
	border-spacing: 0px;
	padding: 1em;
}

.celdasvacias{
	height: 1.5em;
}

.constancia{
	background-color: #4720b7;
    border-radius: 5em;
	height: 3em;
	text-align: center;
}

#texconstancia{
color: #ffffff;
font-family: Acumin;
font-size: 1.2em;
text-decoration: none;
}

.notacurso{
	text-align: center;
	font-family: Acumin;
}

.titulostemario2{
	font-size: 1.25em;
	/*color: #ffffff;
	background-color: #cbc7ed;*/
    border-radius: 1em 1em 1em 1em;
	height: 2em;
	padding-left: 0em;
	width: 24em;
	font-weight: 500;
}
.celdasvacias2{
	height: 0.4em;
}

#fondotemario{
	background-image: url(img/fondotemarios.gif)
}

#tablacontenido{
	/* background-color: #2E49C1;
    margin-right: 3em; 
    padding-right: 3em;*/
}

.celdatop{
	vertical-align: top;
	/*background-color: #2E49C1;
	color: white;*/
	width: 50%;
}

.sangriavinetas{
	padding-left: 2em;
}

#imagentemario{
	width: 35%;
	vertical-align: top;
}

#imagentemar{
	width: 100%;
	margin-top: 1.3em;
}

#descricpiontemario{
	text-align: justify;
	margin-bottom: 0;
	font-family: 'Montserrat';
    font-weight: 500;
	line-height: 1.5em;
	letter-spacing: -0.03em;
	font-size: 0.9em;
}

.btnInscribirse{
	background-color: #00b0ff;
    border-radius: 25em;
    color: white;
    /* padding: 0em 1em; 
    margin: 0em 6em;
    text-decoration: none; */
    height: 2em;
    /* vertical-align: bottom; */
    padding-left: 13%;
    padding-top: 0.3em;
	width: 35%;
}

.btnInscribirsebtn{
	text-decoration: none;
    color: white;
    font-size: 1.2em;
	font-weight: 600;
}
#nmodulo{
	font-size: 0.88em;
	font-weight: 400;
}
.menusvacio{
	display: inline-block;
	font-size: 1.1em;
	text-align: center;
	width: 20%;
	vertical-align: top;
	padding: 1em;
}

#titulocurso{
	margin-bottom: 0;
    margin-top: 3%;
    font-family: 'Montserrat';
    font-size: 160%;
	color: #0D1566;
}

/*style footer*/

#footer{
	background-color: #872362;
}
#divfooter{
	display: flex;
	height: 13em;
}
#logopie{
	/*width: 20%;*/
    padding: 2% 3%;
}
#imglogopie{
	height: 50%;
	margin-top: 20%;
}
#texto1pie{
	width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
	font-family: 'Montserrat';
}
#parrafodireccion{
	line-height: 110%;
}
.parrafosfooter{
	font-weight: 550;
	color: white;
}
#texto2pie{
	width: 32%;
    padding: 2% 5%;
	font-family: 'Montserrat';
    margin-top: 2.6%;
}
#parrafoter{
	line-height: 110%;
}
#terminosycon{
	text-decoration: underline;
}

/*end footer*/
@media screen and (min-width: 768px) {
	#encabezado {
		text-align: right;
	}
	.menus {
		display: inline-block;
		font-size: 190%;
		width: 25%;
		padding-bottom: 3%;
	}
	.menusvacio {
		display: inline-block;
		width: 0%;
		padding: 0;
	}
	#logo {
		position: relative;
		padding-top: 0%;
		height: 4.5em;
    	width: auto;
	}
	#menucatalogo{
		padding-top: 2%;
	}
	#menu {
		padding-left: 0;
		width: auto;
    	display: flex;
	}
	/* termina menu*/
	#tituloprincipal {
		margin-left: 0.8em;
		margin-right: 0.8em;
		font-size: 4rem;		
		text-align: center;
	}
	#tablacontenido {
		width: 100%;
	}
	#celdavaciainfocursos{
		width: 0;
	}
	/*#titulocurso {
		font-size: 320%;
	}*/
	#tablarecursos {
		margin-left: 0%;
		margin-right: 0;
	}
	#columnainfocursos{
		display: flex;
		flex-direction: column;
		width: auto;
	}
	#imagentemario {
		width: 90%;
		margin: 0 5%;
	}
	#descricpiontemario {
		line-height: 1.2em;
	}
	.celdatop {
		width: 95%;
		margin-right: 5%;
		font-size: 210%;
	}
	/*.titulostemario2 {
		font-size: 3.1em;
	}
	.btnInscribirsebtn {
		font-size:2.8em;
	}
	.btnInscribirse {
		height: 4em;
		padding-top: 0.3em;
	}*/
	#menu {
		display: flex;
    	width: auto;
    	height: auto;
		padding-left: 50px;
	}
	.logo {
		display: inline-block;
		font-size: 1.3em;
		text-align: left;
		width: 29%;
	}
	/* footer*/
	#logopie {
		width: 20%;
		padding: 2% 2%;
		padding-left: 0;
	}
	#imglogopie {
		height: 20%;
	}
	#texto1pie {
		width: 55%;
		padding: 3% 1%;
	}
	#footer{
		margin-top: 2.5em;
	}
	#footer p {
		font-size: 148%;
		margin-bottom: 3.3%;
		line-height: 120%;		
		font-weight: 400;
	}
	#texto2pie {
		width: 32%;
		padding: 1% 0%;
		padding-top: 2%;
	}
	#divfooter{
		height: 20em;
	}
	#footer{
	    margin-top: 9em;
	    width: auto;
    }
	/*end footer*/
}

@media screen and (orientation: landscape) {
	.menusvacio {
		display: inline-block;
		font-size: 1.1em;
		text-align: center;
		width: 20%;
		vertical-align: top;
		padding: 1em;
	}
	.menus {
		display: inline-block;
		font-size: 1.5em;
		text-align: center;
		width: 25%;
		vertical-align: top;
		padding: 1em;
	}
	#logo {
		height: 2em;
	}
	
}

/*
@media (min-width:700px){
	/*menu*-/
	#encabezado {
		text-align: right;
	}
	.menus {
		display: inline-block;
		font-size: 80%;
		text-align: center;
		width: 25%;
		vertical-align: top;
		padding: 1em;
	}
	.menusvacio {
		display: inline-block;
		width: 0%;
		padding: 0;
	}
	#logo {
		position: relative;
		height: 1.6em;
    	width: auto;
		padding-top: 0%;
	}
	#menucatalogo{
		padding-top: 2%;
	}
	/* termina menu*-/
	#tituloprincipal {
		margin-left: 0.8em;
		margin-right: 0.8em;
		font-size: 4.5rem;		
		text-align: center;
	}
	#tablacontenido {
		width: 100%;
	}
	#celdavaciainfocursos{
		width: 0;
	}
	#titulocurso {
		font-size: 320%;
	}
	#tablarecursos {
		margin-left: 0%;
		margin-right: 0;
	}
	#columnainfocursos{
		display: flex;
		flex-direction: column;
		width: auto;
	}
	#imagentemario {
		width: 90%;
		margin: 0 5%;
	}
	#descricpiontemario {
		line-height: 1.2em;
		font-size: 0.9em;
	}
	.celdatop {
		width: 95%;
		margin-right: 5%;
	}
	.titulostemario2 {
		font-size: 3.1em;
	}
	.btnInscribirsebtn {
		font-size:2.8em;
	}
	.btnInscribirse {
		height: 4em;
		padding-top: 0.3em;
	}
	#menu {
		display: flex;
		font-size: 250%;
    	width: auto;
    	height: auto;
	}
	.logo {
		display: inline-block;
		font-size: 1.3em;
		text-align: left;
		width: auto;
	}
	/* footer*-/
	#logopie {
		padding: 2% 2%;
		padding-left: 0;
	}
	#imglogopie {
		height: 44%;
	}
	#texto1pie {
		width: 55%;
		padding: 2% 1%;
	}
	#footer{
		margin-top: 2.5em;
	}
	#footer p {
		font-size: 110%;
		margin-bottom: 3.3%;
		line-height: 120%;
	}
	#texto2pie {
		width: 32%;
		padding: 1% 0%;
	}
	/*#divfooter{
		height: auto;
	}*-/
	#footer{
	    margin-top: 2.5em;
	    width: auto;
    }
	/*end footer*-/

}*/

