@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@font-face {
    font-family: Acumin;
    src: url(AcuminVariableConcept.ttf);
}
@font-face {
    font-family: MonserratBold;
    src: url(Montserrat-Bold.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/*font-size: 10px;*/
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	/*text-transform: uppercase;*/
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #4720b7;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: #190b9ce5;
	border: 2px solid #331687;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #443be8;
	border: 2px solid #443be8;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #4720b7;
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	/*max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;*/
	margin-top: 6%;
}
#projects .projects-header h1 {
	margin-bottom: 30px;
	font-family: Acumin;
	margin-top: 1.2em;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: initial;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 3em;
	/*flex-basis: 50%;*/
	height: 100%;
	display: flex;
	/*align-items: flex-start;*/
	justify-content: center;
	flex-direction: column;
	/*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
	color: white;
}
#projects .project-info h1 {
	font-size: 3.8rem;
    /* font-weight: 900; */
    text-align: left;
    padding-bottom: 0.5em;
    font-family: MonserratBold;
    color: #872362;
	padding-left: 1.2em;
    padding-right: 1.2em;
}
#projects .project-info li {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 10px;
	margin-left: 2em;
}
#projects .project-info p {
	color: black;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0em 3em;
	line-height: initial;
}
#projects .project-img {
	flex-basis: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	border-radius: 5%;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
	opacity: 0.5;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* End Projects section */

/* Footer */
#footer {
	background-color: #872362;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
#divfootercursos p {
	color: white;
	font-size: 0.9rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #4720b7;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 4rem;
		font-family: Acumin;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
		/*font-family: Acumin;*/
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	/*#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}*/
	#projects .project-item {
		align-items: initial;
		height: auto;
		margin: 2em;
		width: 100%;
		border-radius: 0;
		background-image: url(../images/fondocursos.png);
	}
	#projects .all-projects .project-info {
		width: 100%;
	}
	#projects .all-projects .project-img {
		height: auto;
		text-align: center;
	}
	/*
	#imghomecurso{
		border-bottom: solid #2E49C1 8em;
	}*/
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
		margin-left: 0px;
		margin-right: 20px;
		padding-right: 5em;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 15px;
		height: 98%;
		width: 98%;
		border: 10px solid #4720b7;
	}
	#about .col-right {
		text-align: left;
		padding-left: 8%;
	}
	#about .col-right h1 {
		text-align: left;
		font-family: Acumin;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		align-items: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.6rem;
    	font-weight: 600;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
		height: 38em;
	}
}
/* End  Media Query For Desktop */

.htmltotal{
	overflow-x: hidden;
}

#texto1cursos{
	color: #872362;
    padding-top: 1.5%;
    font-size: 3.8em;
	font-family: MonserratBold;
}

.imagenesareas {
    /*width: 85%; */
    padding: 1em 1.5em;
}
.filacentrada {
    text-align: center;
}
#titulocategorias{
	color: #2E49C1;
    font-family: MonserratBold;
    font-size: 3.5em;
    margin-top: 0.3em;
}
.celdacategoria{
	height: 25em;
}

.banersinicio{
	margin: 5em 1em;
}
.banernosotros{
	margin-top: 20em;
}
#slider1{
	background-image: url(../img/slider1.jpg);
	height: 48em;
    width: 133.85em;
}
#slider2{
	background-image: url(../img/slider2.jpg);
	height: 48em;
    width: 133.85em;
}
#slider3{
	background-image: url(../img/slider3.jpg);
	height: 48em;
    width: 133.85em;
}

#btncontactanos{
	margin-top: 27em;
    margin-left: 14em;
    width: 15em;
    height: 3em;
    background-color: #001c9bed;
    border-radius: 4em;
    color: white;
    border: 3em;
    font-weight: 550;
}
#btncontactanos:hover{
	background-color: #0d4ee7;
}
#btncursos{
	margin-top: 27em;
    margin-left: 65em;
    width: 15em;
    height: 3em;
    background-color: #001c9bed;
    border-radius: 4em;
    color: white;
    border: 3em;
    font-weight: 550;
}
#btncursos:hover{
	background-color: #0d4ee7;
}

.btnregresar{
	margin-top: 1.15em;
    margin-left: 3.1em;
    width: 15em;
    height: 3em;
    background-color: #2E49C1;
    border-radius: 4em;
    color: white;
    border: 3em;
    font-weight: 600;
    font-family: 'Montserrat';
}
.btnregresar:hover{
	background-color: #182da6;
}
.btnregresar2{
	margin-top: 1.15em;
    margin-left: 3.1em;
    width: 15em;
    height: 3em;
    background-color: #2E49C1;
    border-radius: 4em;
    color: white;
    border: 3em;
    font-weight: 600;
    font-family: 'Montserrat';
	margin-bottom: 2.2em;
}
.btnregresar2:hover{
	background-color: #182da6;
}
.btnregresar3{
	margin-top: 2.1em;
    margin-left: 3.1em;
    width: 15em;
    height: 3em;
    background-color: #2E49C1;
    border-radius: 4em;
    color: white;
    border: 3em;
    font-weight: 550;
	margin-bottom: 2.2em;
}
.btnregresar3:hover{
	background-color: #182da6;
}

#titulocursos{
	color: white;
}
#fondotitulocurso{
	background-color: #872362;
}

#imghomecurso {
    width: 65%;
}
#logopie {
    padding: 0 20px;
    width: 44%;
}

@media screen and (max-width:700px){
	#projects .project-info {
		padding: 0;
	}
	#projects .project-info h1 {
		font-size: 2.6em;
		margin-top: 0.9em;
		text-align: left;
		padding-left: 0%;
		padding-right: 0;
	}
	.btnregresar {
		margin-bottom: 6%;
		margin-left: 0;
	}
	.btnregresar2 {
		margin-bottom: 6%;
		margin-left: 0;
	}
	.btnregresar3 {
		margin-bottom: 6%;
		margin-left: 0;
	}
	#projects .project-item {
		border-radius: 0;
	}
	/*#enlaceregresar{
		text-align: center;
	}*/
	#imgcategoria{
		border-radius: 0%;
  		text-align: center;
	}
	#imghomecurso {
		width: 100%;
	}
	#projects .project-img {
		border-radius: 0;
	}
	#projects .project-info p {
		padding: 0em 0em;
		text-align: justify;
	}
	#logopie {
		width: auto;
	}
}
