@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@font-face {
	font-family: Acumin;
	src: url(AcuminVariableConcept.ttf);
}
@font-face {
	font-family: MonserratBold;
	src: url(Montserrat-Bold.ttf);
}
/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body {
 
    background-image: url(fondologin.png);
    background-size:  cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    
}
img {
	width: 100%;
} 
p {
    
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
a {
    text-decoration: none;
}
/*** CSS MENU  **/
#header {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.header.container-l {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s ease background-color;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

img#logoinicio {
    width: 220px;
}
.headermenu {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding: 15px 30px;
    display: block;
}
#fondoinicio {
    background-color: #872362;
}


section#hero {
    margin-top: 40px;
}

/* Footer Section */
#footer {
    width: 100%;
    position: relative;
    background: #872362;
}
#divfooter {
    display: flex;
    width: 98%;
    margin: auto;
    padding: 30px 0;
    /*align-items: center; */
    height: 20.7em;
}
#logopie {
    padding: 0 90px;
    padding-left: 2%;
}
#imgpie {
    width: 99%;
    margin-top: 17%;
    max-width: 300px;
}
#footer p {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 0;
}
#texto1pie {
    padding-left: 85px;
    padding-right: 115px;
    padding-top: 0;
}
#texto2pie {
    padding: 0% 6%;
}
#terminosycon {
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
}
#parrafoter, #parrafodireccion {
    line-height: 1.4;
}

.pie-rs1 {
    width: 25%;
}
.pie-rs2 {
    width: 50%;
}
.pie-rs3 {
    width: 25%;
}

#chkbxtyc {
    height: auto;
    width: auto;
}


@media(min-width: 1500px){


    #hero {
        max-width: 1550px;
        margin: auto;
    }
    #imgpie {
        width: 75%;
    }

}
@media(min-width: 2000px){


    #imgpie {
        width: 70%;
    }
    #footer {
        position: absolute;
        bottom: 0;
    }
    #header {
		text-align: -webkit-center;
        text-align: -moz-center;
	}
	.header.container-l {
		max-width: 1550px;
	}
	#divfooter {
		max-width: 1550px;
	}
    

}
@media(max-width: 1400px){


    #hero {
        max-width: 1440px;
    }

}
@media(max-width: 1200px){

}
@media(max-width: 992px){

    .headermenu {
        padding: 15px 12px;
    }
    
    .tablecontact {
        width: 88%;
        margin: auto;
    }
    #texto1nosotros {
        padding: 7% 6.2%;
    }
    #divfooter {
        height: auto;
    }

}
@media(max-width: 850px){

    .headermenu {
        padding: 15px 7px;
        letter-spacing: 1px;
        font-size: 1.55rem;
    }
    .text2 {
        right: 12%;
    }
    #parrafo4bienvenida {
        padding: 0em 1em;
    }
    .bv-row-rs {
        width: 90%;
        padding: 5px 18px;
        display: inline-block;
    }
    .col-rs1 {
        width: 100%;
    }
    .ctrs-1 {
        border-right: none;
        border-bottom: 2px solid #fff;
        padding: 25px 12px;
    }
    .ctrs-2 {
        padding: 25px 12px;
    }
    #parrafo1bienvenida {
        font-size: 120%;
    }
    #parrafo2bienvenida {
        font-size: 2.1em;
    }
    #valores {
        font-size: 20px;
        font-weight: 550;
        letter-spacing: .01rem;
    }
    .celdacategoria {
        height: auto;
    }
    .imgcursosp1 {
        margin-top: 8%;
        height: auto;
    }
    #divfooter {
        height: 22em;
    }
    #texto2pie {
        padding: 0;
        padding-left: 3%;
    }
    #logopie {
        padding: 0;
    }
    #texto1pie {
        padding-left: 3%;
        padding-right: 0;
        padding-top: 0;
    }
    #imgpie {
        margin-top: 0;
    }

}
@media(max-width: 768px){

    #btncursos, #btncontactanos, #btncontactanos2 {
        width: 120px;
        height: 22px;
    }
    #texto1pie {
        padding: 0 20px;
    }
    #imgpie {
        width: 100%;
        margin: 0;
    }
    #izquierdacontacto {
        display: block;
    }
    #izquierdacontacto2, #login-register {
        width: 100%;
        padding-bottom: 20px;
    }
    #texto1contacto, #texto2contacto {
        padding-left: 10%;
        padding-right: 10%;
    }
    #texto1nosotros {
        padding: 7% 6.2% 0;
        font-size: 28.4px;
    }
    #texto3nosotros {
        font-size: 22px;
    }
    .parrafomision {
        font-size: 1.7em;
    }
    #valores {
        font-size: 16px;
    }
    .texto2nosotros {
        padding: 3% 11%;
    }
    #capacitorestitle {
        font-size: 25px;
    }
    .celdacategoria {
        height: auto;
        display: flex;
        margin-top: 5%;
    }
    #texto1cursos {
        font-size: 250%;
        margin: 5% 0%;
    }
    #hero h2 {
        font-size: 1.5em;
        padding: 0.8em 2em;
        margin-top: 0%;
    }
    #titulocategorias {
        text-align: center;
        font-size: 250%;
    }
    #divfooter {
        height: auto;
    }
    #texto2pie {
        padding: 0;
    }
    #logopie {
        padding: 0;
    }


}
@media(max-width: 580px){

    .text2 {
        right: 3%;
        bottom: 15% !important;
    }
    .bv-row-rs {
        width: 100%;
        padding: 5px 18px;
        display: inline-block;
        border-radius: 1;
    }
    #parrafo3bienvenida {
        padding: 0;
        font-size: 1.4em;
        line-height: normal;
    }
    #divfooter {
        display: inline-block;
        text-align: center;
        height: auto;
        width: auto;
    }
    .pie-rs1, .pie-rs2, .pie-rs3 {
        width: 100% !important;
    }
    #texto2pie {
        padding: 0 20px;
    }
    #imgpie {
        width: 160px;
        padding-bottom: 10px;
        margin-top: 0;
    }
    #parrafo4bienvenida {
        padding: 1em 0.4em 0;
        font-size: 2.5em;
    }

    #izquierdacontacto {
        display: block;
    }
    #izquierdacontacto2, #login-register {
        width: 100%;
    }
    #texto1contacto, #texto2contacto {
        padding-left: 7%;
        padding-right: 7%;
        text-align: center;
    }
    #texto1contacto {
        font-size: 21px;
        padding-top: 19%;
    }
    .tablecontact {
        width: 94%;
        margin: auto;
    }
    .textoscontacto {
        padding-left: 0;
    }
    .entradacontacto {
        padding-left: 0;
        padding-bottom: 3em;
    }

    img#logoinicio {
        width: 150px;
    }
    .parrafomision {
        font-size: 13px;
        margin: 0 15px;
        letter-spacing: normal;
        line-height: normal;
    }
    .cuadroazul {
        margin: 0;
        height: 30em;
    }
    #texto1nosotros {
        padding: 7% 5% 0;
        font-size: 22.4px;
    }
    .texto2nosotros {
        padding: 1% 5%;
        font-size: 14px;
    }
    #valores {
        font-size: 14px;
    }
    #footer p {
		line-height: 120%;
        font-weight: 500;
        font-size: 1.2em;
	}
    #logopie {
        margin-top: 0;
        padding: 0;
        padding-left: 0;
        height: auto;
    }
    #terminosycon {
        font-weight: normal;
    }

}
@media(max-width: 460px){

    #texto1nosotros {
        padding: 7% 5% 0;
        font-size: 21.4px;
    }
    .texto2nosotros {
        padding: 3% 4%;
        font-size: 14px;
    }
    .cuadroazul {
        margin: 0;
        padding-bottom: 5%;
        height: auto;
    }
    #valores {
        font-size: 10.5px;
    }

}





