/*** Reset styles ***/
@font-face {
	font-family: Acumin;
	src: url(AcuminVariableConcept.ttf);
}
html,body, body * { 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    color:inherit;
    background-color:inherit;
    box-sizing: border-box;
 }
 body {
    background-image: url(fondologin.png);
    background-size:  contain;
    background-position:center center;
    display: block;
    /*background-color: #CDCBCE;*/
	/*opacity: 0.7;*/
  }
  .container {
      width: 100%;
      padding-top: 120px;
      padding-bottom: 280px;
  }

  .login-register {
      height: 560px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      padding:0 2em;
      border-radius: 5px;
      box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
      overflow: hidden; 
      /*background: linear-gradient(180deg, rgba(65,4,119,1) 40%, rgba(22,147,198,1) 80%, rgba(22,147,198,1) 85%);*/
      background-color: #872362;
      color:#ffffff;
  }

  /* Nav Buttons  */
  .nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    text-align: center;
  }
  button {
      font-size: 2.5em;
      margin-right:1em;
      border:0px;
      cursor: pointer;
  }
  button:focus {
      outline: 0px;
  }
  button.active {
      padding-bottom: 10px;
      border-bottom: solid 2px #40bff2;
  } 
  /* footer: forgot section */
   #forgot {
        position: relative;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 24px;
        margin-top: -300px; 
        border-top: solid 1px rgba(255,255,255,.3);    
        font-size: 1.5em;
        font-family: Acumin;
    }

    /* form styling */
    .form-group input {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        background: rgba(255,255,255,.2);
    }
    .form-group label {
      text-transform: uppercase;
      font-size: 1.2em;
      font-family: Acumin;
    }
    input.submit {
        font-weight: 550;
        text-transform: uppercase;
        font-size: 2em;
        text-align: center;
        color: #ffffff;
        padding: 8px 0px;
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 20px;
        margin-top: 23px;
        background-color: #1CC4EA;    
        font-family: Acumin;
    }

    /* form positioning and animation */
    form, #forgot { 
        position: relative;
        transition: all .5s ease;
    }
    #loginBtn, #registerBtn {
        transition: all .5s ease;
        font-family: Acumin;
    }
    form#loginform {
    left:0px;
    }
 
    form#registerform {
    left:500px;
    top:-230px;
    opacity: 0;;
   } 

    

