@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

html {
	font-size: 0.64em;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	font-family: Montserrat;
}

.containerh {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}
img {
	/*height: 100%;
	width: 100%;*/
	object-fit: cover;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: auto;
    background-color: white;
    transition: 0.3s ease background-color;
    display: block;
}
#header .nav-bar {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
	padding-top: 5px;
}
#header .nav-list ul.active {
	left: 0%;
}
.headermenu{
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-decoration: none;
	/*color: white;*/
	text-transform: uppercase;
	padding: 15px 30px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #4720b7;
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Footer */
#footer {
	background: #872362;
    width: 100%;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}

/* End Footer */

#olvideregresar{
	font-size: 150%;
    text-align: center;
}

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #4720b7;
		font-weight: 500;
	}
}
/* End Keyframes */
#fondoinicio{
	background-color: #872362;
	color: white;
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.6rem;
    	font-weight: 600;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */


#logoinicio{
	width: 19em;
}

/* checkboxregistro */
#chkbxtyc{
	height: auto;
    width: auto;
}
#checkterminos{
	list-style: none;
}

@media screen and (max-width:850px){
	
	.headermenu {
		font-size: 1.5rem;
		padding: 15px 10px;
	}
	#logoinicio {
		width: 20.6em;
	}
	/*start footer*/
	/*#divfooter {
		height: auto;
	}*/
	#logopie {
		width: 25%;
		padding: 2% 3%;
		margin-top: 2em;
	}
	#imgpie{
		height: auto;
	}
	#texto1pie {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 1%;
	}
	#texto2pie {
		padding: 2% 4%;
	}
	/*end footer*/
	.container {
		padding-bottom: 130px;
	}
}

@media screen and (max-width:700px){
	/*#logoinicio{
		width: 30%;
	}*/
	
	#header .nav-bar{
		width: auto;
	}
	#header .nav-list{
		display: flex;
		/*margin-left: 4em;*/
	}
	#header .nav-list ul {
		display: contents;
    	flex-direction: row;
		background-color: white;
	}
	.headermenu{
		font-size: 1.2rem;
		font-weight: 550;
		letter-spacing: 0.05rem;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px;
		display: block;
		text-align: center;
	}
	.fondoinicio{
		background-color: white;
	}
	#acercade{
		background-color: white;
	}
	#logoinicio {
		width: 30%;
	}
	#fondoinicio{
		background-color: #872362;
	}
	#ingresarblanco{
		color: white;
	}

	/*login*/
	.login-register {
		width: auto;
	}
	#header .header {
		min-height: 10%;
		display: flex;
	}
	#main-container{
		width: auto;
	}
	#formulario{
		width: auto;
	}
	#loginBtn, #registerBtn{
		font-size: 2.4em;
	}
	#footer {
		width: auto;
	}
	.containerh {
		width: auto;
	}	
}
