/* inicia el estilo para el encabezado*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: Acumin;
	src: url(AcuminVariableConcept.ttf);
}
@font-face {
    font-family: MonserratBold;
    src: url(Montserrat-Bold.ttf);
}

body{
	margin: 0;
	background-color: #ffffff;

}
#planmarketing{
	margin-left: 20px;
}

#logotipo{
	text-align: left;
}
#logo{
	display: inline-block;
    font-size: 1.3em;
    text-align: left;
    width: 60%;
    margin-left: 5px;
}

#encabezado{
	/*background-color: rgb(216, 210, 227); */
    position: sticky;
    /*top: 1em;*/
    margin: 0%;
    width: 100%;
    /*text-align: center;*/
	height: 4.5em;
}
#tituloprincipal{
	margin: 0%;
	color: #000000;
}
#menu{
	margin-top: 0%;
    margin-left: 0%;
    font-family: sans-serif;
    margin-bottom: 0%;
	padding-left: 0%;
}
.menus{
	display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 16%;
    vertical-align: top;
    padding: 1em;
}
.menusvacio{
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 19.3%;
    vertical-align: top;
    padding: 1em;
}
.menusvacioevaluacion {
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 21.3%;
    vertical-align: top;
    padding: 1em;
}
.menusevaluacion{
	display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 19%;
    vertical-align: top;
    padding: 1em;
}
.logo{
	display: inline-block;
    font-size: 1.3em;
    text-align: left;
    width: 17%;
}
.enlacemenu{
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #630ba3;
	cursor: pointer;
  }

h1{
	color: #000000;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: rgb(146, 26, 201);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #4720b7;
}

.iconorecurso{
	width: 3.6em;
	margin-top: 0.2em;
	margin-left: 0.6em;
}
.iconorecursocelda{
	/*background-color: #ebebec;*/
	border-radius: 0.7em 0px 0px 0.7em;
}

#tablarecursos{
	margin-left: 14%;
	margin-bottom: 2em;
	margin-top: 6em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 45%;
}

.iconosrec{
	text-align: center;
	background-color: #ebebec;
}

#filatitulo{
	/*background-color: #b77add;*/
	padding-bottom: 0%;
}
#filainstrucciones{
	background-color: #79b3ce;
	padding-top: 0%;
}
.temario{
	/*background-color: #ebebec;*/
    border-radius: 0px 0.7em 0.7em 0px;
	width: 4em;
}
h2{
	color: #2E49C1;
	/*text-indent: 8em;*/
	font-size: 2em;
	margin-top: 0;
	font-family: sans-serif;
}
h4{
	color: #360cb5;
	text-indent: 1.7em;
}

.tituloscursos{
	width: 46em;

}

.titulostemario{
	text-decoration:none; 
	font-family: Montserrat;
    font-size: 110%;
	width: 60%;
}
#titulotema{
	font-size: 120%;
    font-weight: 600;
}

.fondotemario{
	/*background-color: #ebebec;*/
	border: inset 0pt;
	border-spacing: 0px;
	padding: 1em;
}

.celdasvacias{
	height: 1.5em;
}

.constancia{
    border-radius: 5em;
	height: 3em;
	/*text-align: center;*/
}

#texconstancia{
	color: #ffffff;
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 600;
    background-color: #1CC4EA;
    padding: 2% 8%;
    border-radius: 2em;
	margin-left: 1em;
}
#texconstancia2{
	color: #ffffff;
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 600;
    background-color: #2E49C1;
    padding: 2% 8%;
    border-radius: 2em;
	margin-left: 1em;
}

.notacurso{
	text-align: center;
	font-family: Acumin;
}

.titulostemario2{
	font-size: 1.15em;
	color: #000000;
	background-color: #cbc7ed;
    border-radius: 1em 1em 1em 1em;
	height: 2.5em;
	padding-left: 1em;
}
.celdasvacias2{
	height: 0.4em;
}

#fondotemario{
	background-image: url(img/fondotemarios.gif)
}

.menuseva{
	display: inline-block;
    font-size: 1.4em;
    text-align: center;
    width: 19%;
    vertical-align: top;
    padding: 1em;
}

#encabezadoeva{
	/*background-color: rgb(216, 210, 227); */
    position: sticky;
    /*top: 1em;*/
    margin: 0%;
    width: 100%;
    text-align: center;
	/*height: 4.5em;*/
}

#tituloeva{
	color: #2E49E1;
	font-family: MonserratBold;
}

#regresarCurso {
    margin: 4% 40%;
    margin-bottom: 10%;
}
#btnRegresarCurso {
    color: white;
	text-decoration: none;
}

/*style footer*/

#footer{
	background-color: #872362;
	
}
#divfooter{
	display: flex;
	height: 13em;
	bottom: 0;  
}
#logopie{
	/*width: 20%;*/
    padding: 2% 3%;
}
#imglogopie{
	height: 50%;
	margin-top: 20%;
}
#texto1pie{
	width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
	font-family: 'Montserrat';
}
#parrafodireccion{
	line-height: 110%;
}
.parrafosfooter{
	font-weight: 600;
	color: white;
	margin-top: 0;
}
#texto2pie{
	width: 32%;
    padding: 2% 5%;
	font-family: 'Montserrat';
    margin-top: 0.4%;
}
#parrafoter{
	line-height: 110%;
}
#terminosycon{
	text-decoration: underline;
}
#margintopresul{
	padding-top: 5em; 
	text-align: -webkit-center;
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 6px;
    
}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #872362;
    color: white;
    /*padding-left: 100px;*/
    }

@media(min-width: 1500px){


	#texto1pie {
		width: 25%;
	}
	#texto2pie {
		width: 22%;
	}
	#logopie {
		padding-left: 7%;
	}
	
}

@media(min-width: 2000px){
	body{
		max-width: 1550px;
	}
	html{
		text-align: -webkit-center;
	}
	#footer {
        position: absolute;
        bottom: 0;
    }
	#divfooter {
		max-width: 1550px;
		text-align: left;
	}
	#zoomleft{
		text-align: left;
	}
}

@media (max-width: 900px) {
	.menusvacio {
		display: inline-block;
		font-size: 1.1em;
		text-align: center;
		width: 16%;
		vertical-align: top;
		padding: 1em;
	}
	.menus {
		display: inline-block;
		font-size: 1.1em;
		text-align: center;
		width: 18%;
		vertical-align: top;
		padding: 1em;
		padding-right: 0;
	}
	#logo {
		position: relative;
		text-align: left;
		width: 68%;
		margin-left: 5px;
	}
	/* pie de pagina*/
	#logopie {
		padding: 0% 3%;
	}
	#imglogopie {
		height: 30%;
		margin-top: 11%;
	}
	#texto1pie {
		width: 60%;
		padding-left: 0;
		padding-right: 0;
	}
	
}
@media(max-width: 768px){
	/*menu*/
	#encabezado {
		text-align: right;
	}
	.logo {
		width: 45%;
	}
	.menus {
		display: inline-block;
    	font-size: 80%;
    	width: 35%;
    	padding: 1em 0.7em;
	}
	.menusvacio {
		display: inline-block;
		width: 0%;
		padding: 0;
	}
	#logo {
		position: relative;
    	width: auto;
    	height: 50%;
    	padding-top: 5%;
    	/*padding-left: 25%;*/
	}
	#menucatalogo{
		padding-top: 2%;
	}
	#menu {
		padding-left: 0;
    	width: auto;
    	display: flex;
    	height: -webkit-fill-available;
	}
	/* termina menu*-/
	#filatitulo{
		font-size: 1.9em;
	}
	.fondotemario {
		font-size: 180%;
	}
	/* footer*/
	#logopie {
		width: 18%;
    	padding: 2% 2%;
    	padding-left: 0;
	}
	#imglogopie {
		height: 15%;
	}
	#texto1pie {
		width: 55%;
		padding: 3% 1%;
	}
	#footer{
		margin-top: 2.5em;
	}
	#footer p {
		font-size: 65%;
		margin-bottom: 3.3%;
		line-height: 120%;		
		font-weight: 400;
	}
	#texto2pie {
		width: 32%;
		padding: 1% 0%;
		padding-top: 2%;
	}
	#divfooter{
		height: 10em;
	}
	#footer{
	    width: auto;
    }
	/*end footer*/
	#anchoevalucion{
		font-size: 120%;
	}
	#fecha{
		font-size: 70%;
    	text-align: center;
    	margin-right: 4%;
	}
	#regresarCurso {
		margin: 2% 0%;
		margin-bottom: 14%;
	}
	.my-button {
		width: 15em;
	}
	#tablarecursos {
		width: auto;
		margin-left: 0;
		margin-right: 0;
		margin-top: 2%;
	}
	#texconstancia {
		font-size: 90%;
    	padding: 2% 2%;
    	margin-right: 165px;
	}
	.menusevaluacion {
		display: inline-block;
    	font-size: 80%;
    	width: 37%;
    	padding: 1em 0.7em;
	}
	.menusvacioevaluacion{
		display: inline-block;
    	width: 0%;
    	padding: 0;
	}
	#tituloexamen{
		font-size: 1.5em;
	}
	#texconstancia2{
		font-size: 75%;
    	/* margin-right: 90px; */
    	padding: 2% 3%;
	}
	.constancia {
		text-align: left;
	}
	/*resultados columna*/
	#flexresult{
		display: flex;
		margin-bottom: 10%;
	}
	#coldatos{
		display: grid;
		width: 35%;
		font-size: 0.8em;
	}
	#colresultados{
		display: grid;
		width: 65%;
		font-size: 0.8em;
	}
	#customers {
		margin-bottom: 20%;
	}
	#margintopresul{
		padding-top: 0;
	}
	#respcorrec{
		padding-top: 14px;
    	padding-bottom: 19px;
	}
	#respincorrec{
		padding-top: 14px;
    	padding-bottom: 19px;
	}
	#colresultados td {
		padding-top: 16px;
	}
	#coldatos th {
		padding-top: 16px;
		height: 2em;
	}
	
}

/*
@media screen and (min-width: 768px) {
	/*menu*-/
	#encabezado {
		text-align: right;
	}
	.logo {
		width: 21%;
	}
	.menus {
		display: inline-block;
		font-size: 190%;
		width: 25%;
		padding-bottom: 0%;
	}
	.menusvacio {
		display: inline-block;
		width: 0%;
		padding: 0;
	}
	#logo {
		position: relative;
    	width: auto;
    	height: 10.1%;
    	padding-top: 4%;
    	padding-left: 5%;
	}
	#menucatalogo{
		padding-top: 2%;
	}
	#menu {
		padding-left: 0;
		width: auto;
    	display: flex;
	}
	/* termina menu*-/
	#filatitulo{
		font-size: 1.9em;
	}
	.fondotemario {
		font-size: 180%;
	}
	/* footer*-/
	#logopie {
		width: 20%;
		padding: 2% 2%;
		padding-left: 0;
	}
	#imglogopie {
		height: 20%;
	}
	#texto1pie {
		width: 55%;
		padding: 3% 1%;
	}
	#footer{
		margin-top: 2.5em;
	}
	#footer p {
		font-size: 145%;
		margin-bottom: 3.3%;
		line-height: 120%;
	}
	#texto2pie {
		width: 32%;
		padding: 1% 0%;
		padding-top: 2%;
	}
	#divfooter{
		height: 20em;
	}
	#footer{
	    width: auto;
		position: absolute;
		bottom: 0;
    }
	/*end footer*-/
	#anchoevalucion{
		margin-bottom: 18em;
		font-size: 200%;
	}
	#fecha{
		font-size: 80%;
	}
	#regresarCurso {
		margin: 2% 0%;
	}
	.my-button {
		width: 15em;
	}
	#tablarecursos {
		width: auto;
		margin-left: 3em;
    	margin-right: 3em;
	}
	#texconstancia {
		font-size: 140%;
		padding: 2% 0%;
	}
	.menusevaluacion {
		font-size: 190%;
		width: 27%;
		vertical-align: top;
		padding: 1em;
	}
}*/
/*
@media screen and (orientation: landscape) {
	.menusvacio {
		display: inline-block;
		font-size: 1.1em;
		text-align: center;
		width: 20%;
		vertical-align: top;
		padding: 1em;
	}
	.menus {
		display: inline-block;
		font-size: 1.22em;
		text-align: center;
		width: 20%;
		vertical-align: top;
		padding: 1em;
		padding-right: 0;
	}
}*/