/* inicia el estilo para el encabezado*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: Acumin;
	src: url(AcuminVariableConcept.ttf);
}
@font-face {
    font-family: MonserratBold;
    src: url(Montserrat-Bold.ttf);
}
body{
	margin: 0;
	background-color: #ffffff;
}
#planmarketing{
	margin-left: 20px;
}

#logotipo{
	text-align: left;
}
#logo{
	display: inline-block;
    font-size: 1.3em;
    text-align: left;
    width: 78%;
}

#encabezado{
	/*background-color: rgb(216, 210, 227); */
    position: sticky;
    /*top: 1em;*/
    margin: 0%;
    width: 100%;
    text-align: center;
	height: 4.5em;
}
#tituloprincipal{
	margin: 0%;
	color: #000000;
}
#menu{
	margin-top: 0%;
    margin-left: 0%;
    font-family: sans-serif;
    margin-bottom: 0%;
}
.menus{
	display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 16%;
    vertical-align: top;
    padding: 1em;
}
.menusvacio{
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 16%;
    vertical-align: top;
    padding: 1em;
}
.menusevaluacion{
	display: inline-block;
    font-size: 1.1em;
    text-align: center;
    width: 19%;
    vertical-align: top;
    padding: 1em;
}
.logo{
	display: inline-block;
    font-size: 1.3em;
    text-align: left;
    width: 17%;
}
.enlacemenu{
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #630ba3;
	cursor: pointer;
  }

h1{
	color: #000000;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: rgb(146, 26, 201);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #4720b7;
}

.iconorecurso{
	width: 3.6em;
	margin-top: 0.2em;
	margin-left: 0.6em;
}
.iconorecursocelda{
	/*background-color: #ebebec;*/
	border-radius: 0.7em 0px 0px 0.7em;
}

#tablarecursos{
	margin-left: 14%;
	margin-bottom: 2em;
	margin-top: 6em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 45%;
}

.iconosrec{
	text-align: center;
	background-color: #ebebec;
}

#filatitulo{
	/*background-color: #b77add;*/
	padding-bottom: 0%;
}
#filainstrucciones{
	background-color: #79b3ce;
	padding-top: 0%;
}
.temario{
	/*background-color: #ebebec;*/
    border-radius: 0px 0.7em 0.7em 0px;
	width: 4em;
}
h2{
	color: #2E49C1;
	/*text-indent: 8em;*/
	font-size: 2em;
	margin-top: 0;
	font-family: sans-serif;
}
h4{
	color: #360cb5;
	text-indent: 1.7em;
}

.tituloscursos{
	width: 46em;

}

.titulostemario{
	text-decoration:none; 
	font-family: Montserrat;
    font-size: 110%;
	width: 60%;
}
#titulotema{
	font-size: 120%;
    font-weight: 600;
}

.fondotemario{
	/*background-color: #ebebec;*/
	border: inset 0pt;
	border-spacing: 0px;
	padding: 1em;
}

.celdasvacias{
	height: 1.5em;
}

.constancia{
    border-radius: 5em;
	height: 3em;
	text-align: center;
}

#texconstancia{
	color: #ffffff;
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 600;
    background-color: #1CC4EA;
    padding: 2% 8%;
    border-radius: 2em;
}
#texconstancia2{
	color: #ffffff;
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 600;
    background-color: #2E49C1;
    padding: 2% 8%;
    border-radius: 2em;
	}

.notacurso{
	text-align: center;
	font-family: Acumin;
}

.titulostemario2{
	font-size: 1.15em;
	color: #000000;
	background-color: #cbc7ed;
    border-radius: 1em 1em 1em 1em;
	height: 2.5em;
	padding-left: 1em;
}
.celdasvacias2{
	height: 0.4em;
}

#fondotemario{
	background-image: url(img/fondotemarios.gif)
}

.menuseva{
	display: inline-block;
    font-size: 1.4em;
    text-align: center;
    width: 19%;
    vertical-align: top;
    padding: 1em;
}

#encabezadoeva{
	/*background-color: rgb(216, 210, 227); */
    position: sticky;
    /*top: 1em;*/
    margin: 0%;
    width: 100%;
    text-align: center;
	/*height: 4.5em;*/
}

#tituloeva{
	color: #2E49E1;
	font-family: MonserratBold;
}

#regresarCurso {
    margin: 2% 40%;
}
#btnRegresarCurso {
    color: white;
	text-decoration: none;
}

/*style footer*/

#footer{
	background-color: #872362;
}
#divfooter{
	display: flex;
	height: 13em;
}
#logopie{
	/*width: 20%;*/
    padding: 2% 3%;
}
#imglogopie{
	height: 50%;
	margin-top: 20%;
}
#texto1pie{
	width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
	font-family: 'Montserrat';
}
#parrafodireccion{
	line-height: 110%;
}
.parrafosfooter{
	font-weight: 550;
	color: white;
}
#texto2pie{
	width: 32%;
    padding: 2% 5%;
	font-family: 'Montserrat';
    margin-top: 0.4%;
}
#parrafoter{
	line-height: 110%;
}
#terminosycon{
	text-decoration: underline;
}

@media screen and (max-width:700px){
	.logo {
		display: none;
	}
	.menus {
		display: inline-block;
		font-size: 1em;
		text-align: center;
		width: auto;
		vertical-align: top;
		padding: 1em;
	}
	h2 {
		font-size: 1.8em;
	}
	#tablarecursos {
		margin-left: 5%;
		margin-top: 6%;
		width: 93%;
	}
	#menu {
		display: flex;
		padding-left: 0;
		margin-right: 1.2em;
	  }
	.titulostemario{
		font-size: 125%;
	}
	#logopie {
		width: 22%;
		padding: 2% 2%;
		padding-left: 0;
	}
	#imglogopie {
		height: 22%;
		margin-top: 50%;
	}
	#texto1pie {
		width: 55%;
		padding: 3% 1%;
	}
	#footer{
		margin-top: 2.5em;
	}
	#footer p {
		font-size: 70%;
		margin-bottom: 3.3%;
		line-height: 120%;
	}
	#texto2pie {
		width: 32%;
		padding: 1% 0%;
	}
	#divfooter{
		height: 10em;
	}
	#footer{
	    margin-top: 2.5em;
	    width: auto;
    }
	/*end footer*/
	
}
